@media (max-width: 1200px) {
    .carousel {
        &__wrapper {
            width: 90%;
        }
        .prev, .next {
            display: none;
        }
        .tns-nav {
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translateX(-50%);
            button {
                margin: 0 8px;
                width: 26px;
                height: 26px;
                border-radius: 51%;
                background-color: $main-color;
                border: none;
            }
            .tns-nav-active {
                background-color: #000;
            }
        }
    }
}

@media (max-width: 768px) {
    .carousel {
        &__wrapper {
            width: 70%;
            img {
                width: 80%;
            }
        }
        .tns-nav {
            bottom: -15%;
            button {
                width: 23px;
                height: 23px;
            }
        }
    }
}

@media (max-width: 576px) {
    .carousel {
        padding: 81px 10px;
        .tns-nav {
            bottom: -25%;
            button {
                width: 18px;
                height: 18px;
            }
        }
    }
}