@media (max-width: 1200px) {
    .carousel {
        &__wrapper {
            width: 90%;
            &-slide {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                }
            }
        }
        .prev {
            left: 66px;
        }
        .next {
            right: 66px;
        }
    }
}

@media (max-width: 768px) {
    .carousel {
        &__wrapper {
            width: 70%;
            &-slide {
                img {
                    width: 100%;
                }
            }
        }
        .next, .prev {
            img {
                width: 25px;
                height: 40px;
            }
        }
        .next {
            right: 35px;
        }
        .prev {
            left: 35px;
        }
    }
}

@media (max-width: 576px) {
    .carousel {
        padding: 81px 10px;
        .next {
            right: 3px;
        }
        .prev {
            left: 3px;
        }
    }
}