@media (max-width: 992px) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 17px;
        }
    }
}

@media (max-width:768px) {
    .header {
        &__logo {
            width: 170px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 190px;
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 130px;
            font-size: 11px;
        }
    }
}